# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.TextQuest_JustMoby.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Neagz\Project\TextQuest_JustMoby\.idea\.idea.TextQuest_JustMoby\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
